@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
html, body {
  position: relative;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}
html header, html footer, body header, body footer {
  width: 100%;
  height: 125px;
  background-color: rgb(159, 145, 145);
}
html div.main, body div.main {
  min-height: 74.4vh;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
}
html div.main div.usermenu, body div.main div.usermenu {
  width: calc(100% + 100px);
  height: 200px;
  position: relative;
  margin-top: -10px;
  margin-left: -50px;
  margin-bottom: 120px;
}
html div.main div.usermenu .background, body div.main div.usermenu .background {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: whitesmoke;
  z-index: 0;
}
html div.main div.usermenu .info, body div.main div.usermenu .info {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}
html div.main div.usermenu .info div.profilepicture, body div.main div.usermenu .info div.profilepicture {
  width: 150px;
  height: 150px;
  position: absolute;
  bottom: 0px;
  left: 50px;
}
html div.main div.usermenu .info div.profilepicture img, body div.main div.usermenu .info div.profilepicture img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
html div.main div.usermenu .info div.username, body div.main div.usermenu .info div.username {
  position: absolute;
  left: 200px;
  bottom: -5px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 20px;
  background-color: greenyellow;
}
html div.main div.usermenu .usermenu, body div.main div.usermenu .usermenu {
  width: calc(100% - 25px);
  height: 70px;
  padding-left: 75px;
  display: flex;
  flex-wrap: wrap;
  background-color: lightgrey;
}
html div.main div.usermenu .usermenu > *, body div.main div.usermenu .usermenu > * {
  width: 16.6666666667%;
  box-sizing: border-box;
}
html div.main div.usermenu .usermenu a, body div.main div.usermenu .usermenu a {
  color: black;
  text-decoration: none;
}
html div.main div.usermenu .usermenu a div.menuitem, body div.main div.usermenu .usermenu a div.menuitem {
  text-align: center;
  width: 100%;
  height: 50px;
  padding-top: 20px;
}
html div.main div.usermenu .usermenu a div.menuitem:hover, body div.main div.usermenu .usermenu a div.menuitem:hover {
  background-color: grey;
  color: white;
}
html div.main div.mainuserpage, body div.main div.mainuserpage {
  margin-top: 100px;
}
html div.main div.connections, body div.main div.connections {
  width: 100%;
  height: 100%;
}
html div.main div.connections div.allconnections, body div.main div.connections div.allconnections {
  display: flex;
  flex-wrap: wrap;
}
html div.main div.connections div.allconnections > *, body div.main div.connections div.allconnections > * {
  width: 33.3333333333%;
  box-sizing: border-box;
}
html div.main div.connections div.allconnections div.discord, body div.main div.connections div.allconnections div.discord {
  width: calc(33% - 100px);
  margin-left: 50px;
  margin-right: 50px;
  position: relative;
}
html div.main div.connections div.allconnections div.discord div.connected, body div.main div.connections div.allconnections div.discord div.connected {
  border-radius: 20px;
}
html div.main div.connections div.allconnections div.discord div.connected div.maincontent div.banner, body div.main div.connections div.allconnections div.discord div.connected div.maincontent div.banner {
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
}
html div.main div.connections div.allconnections div.discord div.connected div.maincontent div.banner img, body div.main div.connections div.allconnections div.discord div.connected div.maincontent div.banner img {
  width: 100%;
  height: 100%;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
html div.main div.connections div.allconnections div.discord div.connected div.maincontent div.content, body div.main div.connections div.allconnections div.discord div.connected div.maincontent div.content {
  margin-bottom: 20px;
}
html div.main div.connections div.allconnections div.discord div.connected div.maincontent div.content div.profilepicture img, body div.main div.connections div.allconnections div.discord div.connected div.maincontent div.content div.profilepicture img {
  width: 100px;
  height: 100px;
  margin-left: 75px;
  border-radius: 50%;
}
html div.main div.connections div.allconnections div.discord div.connected div.maincontent div.content div.userinfo, body div.main div.connections div.allconnections div.discord div.connected div.maincontent div.content div.userinfo {
  width: calc(50% - 25px);
  padding-right: 25px;
  text-align: center;
  background-color: white;
  border-radius: 20px;
}
html div.main div.connections div.allconnections div.discord div.connected div.maincontent div.update a button, body div.main div.connections div.allconnections div.discord div.connected div.maincontent div.update a button {
  margin-left: 50%;
  margin-bottom: -20px;
}
html div.main div.connections div.allconnections div.discord div.notconnected, body div.main div.connections div.allconnections div.discord div.notconnected {
  width: 100%;
  height: 100%;
}
html button, html input[type=button], html input[type=submit], body button, body input[type=button], body input[type=submit] {
  min-width: 125px;
  min-height: 50px;
  border-radius: 20px;
  background-color: rgb(116, 116, 116);
  color: white;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}
html button:hover, html input[type=button]:hover, html input[type=submit]:hover, body button:hover, body input[type=button]:hover, body input[type=submit]:hover {
  min-width: 175px;
  min-height: 60px;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.5);
}
html .row-2, body .row-2 {
  display: flex;
  flex-wrap: wrap;
}
html .row-2 > *, body .row-2 > * {
  width: 50%;
  box-sizing: border-box;
}/*# sourceMappingURL=basis.css.map */